{{ define "main" }}
  <script defer src="/forgotten-password.js"></script>
  <div class="acc-container">
    <div class="acc-background">
      <h1 class="acc-title text-3xl"> Forgotten Password? </h1>

      <p class="text-xl"> Enter the email address associated with your account and we’ll send you a temporary password </p>

      <div style="margin: auto;">
        <div style="display: flex; justify-content: center; align-items: center;">

          <div>
          <form id="temporary-password">
            <table style="margin-bottom: 40px;">
              <tr> <td> <span class="acc-subtitle text-xl"> Email address </span> </td> </tr>
              <tr> <td> <input id="email-address" class="acc-inputbox text-xl" type="text" required placeholder="">  </td> </tr>
            </table>
            <div> <input class="acc-button text-xl"  type="submit" value="SEND TEMP PASSWORD"> </div>
          </form>

          <div class="acc-or-container">
            <hr>
            <p> OR </p>    
            <hr>
          </div>
    
          <div class="acc-button text-xl"> <a href="/sign-in"> BACK TO SIGN IN PAGE</a> </div>
        </div>
      </div>
        
    
      </div>
    </div>
  </div>
  
{{ end }}
