<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
        "symbols": [
            {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
            },
            {
                "proName": "FOREXCOM:NSXUSD",
                "title": "Nasdaq 100"
            },
            {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
            },
            {
                "proName": "BITSTAMP:BTCUSD",
                "title": "BTC/USD"
            },
            {
                "proName": "BITSTAMP:ETHUSD",
                "title": "ETH/USD"
            },
            {
                "description": "XMR/USD",
                "proName": "KRAKEN:XMRUSD"
            },
            {
                "description": "FTSE 100",
                "proName": "CURRENCYCOM:UK100"
            }
        ],
        "showSymbolLogo": false,
        "colorTheme": "light",
        "isTransparent": true,
        "displayMode": "compact",
        "locale": "uk"
    }
    </script>
</div>
<!-- TradingView Widget END -->
